body {
  background-color: #eee;
}

/*Sign in*/
body.login {
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Forgot password */
.form-forgot-password {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-group .alert{
  margin-bottom: 0px;
}
.form-pass-reset{
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
/* Admin */
body.admin{
  background-color: white;
}
input[type="text"], input[type="email"], input[type="textarea"], input[type="password"]{
  margin-bottom: 10px;
  min-width: 150px;
}
.btn{
  margin: 2px;
}
.api-key{
  max-width:230px;
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}