# This file is a "template" of what your parameters.yml file should look like
parameters:
    mongo_server: mongodb://localhost:27017
    mongo_database: BBBLoadBalancer
    mongo_replicaset: ~
    mongo_username: ~
    mongo_password: ~

    mailer_transport: smtp
    mailer_host: smtp.ugent.be
    mailer_user: null
    mailer_password: null

    locale: en
    secret: ThisTokenIsNotSoSecretChangeIt
    debug_toolbar: true
    debug_redirects: false
    use_assetic_controller: true

    sys.path_node: node

    app.site_name: BBB Load Balancer
    app.domain: domainname.com
    app.email_name: BBB Load Balancer
    app.email: test@example.com
    app.email_noreply: no-reply@example.com
    app.loglevel: info #set to debug for more logging

    bbb.salt: thesaltonthebbbservers

    # CAS login settings
    
    #cas_host: example.com
    #cas_context: /cas
    #cas_port: 443
    #cas_server_ca_cert_path: /path/to/cachain.pem
