{% extends 'BBBLoadBalancerThemeBundle::email.html.twig' %}

{% block header %}
{% endblock %}
{% block body %}
    <p>Hey {{ user.firstName }},</p>
	<p> You can change your password by clicking on the following link:
	<br />
	<a href="{{ url('password_reset', {'user_secret_key' : user.secretKey, 'user_id': user.id}) }}">{{ url('password_reset', {'user_secret_key' : user.secretKey, 'user_id': user.id}) }}</a>
{% endblock %}
{% block footer %}
{% endblock %}