{% extends 'BBBLoadBalancerThemeBundle::bootstrap.html.twig' %}

{% block body_class %}forgot-password{% endblock %}

{% block content %}
  <form action="{{ path("forgot_password") }}" class="form-forgot-password form-horizontal" method="post" role="form">
    <h2 class="form-signin-heading">Forgot password</h2>
    <div class="form-group">
    {% if error %}
        <div class="alert alert-danger" role="alert">
          <strong>Error!</strong> {{ error }}
        </div>
    {% endif %}
    {% if success %}
        <div class="alert alert-success" role="alert">
          <strong>Success!</strong> {{ success }}
        </div>
    {% endif %}
	</div>
  <div class="form-group">
	    <label for="inputEmail" class="sr-only">Email address</label>
	    <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" value="{{ email }}" required autofocus>
	</div>
	<div class="form-group">
	    <button class="btn btn-lg btn-primary btn-block" type="submit">Send Email</button>
	</div>
  </form>
{% endblock %}