{% extends 'BBBLoadBalancerThemeBundle::bootstrap.html.twig' %}

{% block body_class %}login{% endblock %}

{% block content %}
  <form action="{{ path("login_check") }}" method="post" class="form-signin" role="form">
    <h2 class="form-signin-heading">Please sign in</h2>
    {% if error %}
        <div class="alert alert-danger" role="alert">
          <strong>Error!</strong> {{ error.message }}
        </div>
    {% endif %}
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" name="_email" class="form-control" placeholder="Email address" value="{{ last_username }}" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" name="_password" class="form-control" placeholder="Password" required>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me" name="_remember_me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <a href="{{ path("forgot_password") }}">Forgot Password</a>
  </form>
{% endblock %}
