<script type="text/x-handlebars" data-template-name="_navigation">
  <nav class="navbar navbar-default navbar-static-top" role="_navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {{#link-to "servers" class="navbar-brand"}}BBB Load Balancer{{/link-to}}
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>{{#link-to "servers" activeClass="active"}}Servers{{/link-to}}</li>
          <li>{{#link-to "users" activeClass="active"}}Users{{/link-to}}</li>
          <li>{{#link-to "api" activeClass="active"}}API{{/link-to}}</li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{model.firstName}} {{model.lastName}}<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="logout">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
</script>