<div class="email" style="max-width: 600px;padding: 20px;background-color: whitesmoke;border: 1px solid #EEE;margin: auto;">
	{% block header %}
	{% endblock %}
	{% block body %}
	        Empty email
	{% endblock %}
	{% block footer %}
	{% endblock %}
</div>